{% extends 'parts/base.twig' %}
{% block body %}
    <h3>Расчёт статистики "критически нагруженных" заданий: сколько студентов
        выполняет задание "делимое на" количество проверяющих это задание.</h3>
        <button type="submit" class="btn btn-primary mt-3 table1Button submit" >Вывод таблицы</button>
    <div class="tabble">
    </div>
    <script src="{{ '/asset/js/task6.js' }}">
{% endblock %}